<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">加盟补充</h1>
</div>
<div class="wrapper-md" ng-controller="UpdateOrderController">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                加盟详情
            </div>
            <div class="panel-body">
                <div class="text-center" ng-show="order == null">
                    <i class="fa fa-spin fa-spinner hide show inline"></i>加载中... 
                </div>
                <table class="table table-striped m-b-none" ng-hide="order == null">
                    <thead>
                        <tr>
                            <th style="width:25%">名称</th>
                            <th style="width:75%">详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>区域</td>
                            <td>{{order.goods.name}}({{order.goods.provinceStr}})</td>
                        </tr>
                        <tr>
                            <td>代理人</td>
                            <td>{{order.agentUser.name}} &nbsp;&nbsp;{{order.agentUser.idCard}}</td>
                        </tr>
                        <tr>
                            <td>金额</td>
                            <td>{{order.price}}</td>
                        </tr>
                        <tr>
                            <td>已付金额</td>
                            <td>{{order.paidPrice}}</td>
                        </tr>
                        <tr>
                            <td>人数费</td>
                            <td>{{order.peopleCountFee}}</td>
                        </tr>
                        <tr>
                            <td>已返回金额</td>
                            <td>{{order.backAmount}}</td>
                        </tr>
                        <tr ng-if="order.recommendIdList != null" ng-repeat="recommendId in order.recommendIdList">
                            <td>推荐人</td>
                            <td><a href="#/app/user/user_info/{{recommendId}}" class="text-info">{{order.recommendNameList[$index]}}&nbsp;&nbsp;{{order.recommendRateList[$index]}}%</a></td>
                        </tr>
                        <tr ng-if="order.recommendIdList != null">
                            <td>分成金额</td>
                            <td>{{order.divideAmount}}</td>
                        </tr>
                        <tr>
                            <td>有效期</td>
                            <td>开始：{{order.limitStart| date:"yyyy-MM-dd"}}&nbsp;&nbsp;结束：{{order.limitEnd| date:"yyyy-MM-dd"}}</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>{{order.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="list == null || totalItems < 1">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                支付详情
            </div>
            <div class="panel-body">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th style="width:25%">汇款金额</th>
                            <th style="width:25%">回款时间</th>
                            <th style="width:25%">金额类型</th>
                            <th style="width:25%">支付方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.price}}</td>
                            <td>{{item.payDate| date:"yyyy-MM-dd"}}</td>
                            <td>
                                <span ng-class="{'bg-success': item.type == 'FINAL_PAYMENT' || item.type == 'ALL_PAYMENT', 'bg-warning':item.type == 'EARNEST'}" class="label ng-binding" title="{{item.typeMean}}">{{item.typeMean}}</span>
                            </td>
                            <td>
                                <span class="label ng-binding bg-success" title="{{item.gatewayTypeStr}}">{{item.gatewayTypeStr}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                补充支付
            </div>
            <form ng-submit="submitForm()">
                <div class="panel-body">
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label>汇款金额</label>
                        <input type="text" class="form-control" placeholder="如:9000" ng-model="orderRecord.amount">
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label>人数费用修改</label>
                        <input type="text" class="form-control" placeholder="0会修改为0，不填不修改" ng-model="peopleCountFee">
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label>回款时间</label>
                        <p class="input-group">
                            <input type="text" class="form-control no-border" placeholder="回款时间" datepicker-popup="yyyy-MM-dd" ng-model="orderRecord.payDate" is-open="opened" ng-readonly="true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="关闭" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label>金额类型</label>
                        <select class="form-control" ng-model="orderRecord.amountType" ng-keyup="myKeyup($event)">
                            <option ng-selected="orderRecord.amountType == null || orderRecord.amountType == 'EARNEST'" value="EARNEST">定金</option>
                            <option value="FINAL_PAYMENT">尾款</option>
                        </select>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label>支付方式</label>
                        <select class="form-control" ng-model="orderRecord.payType" ng-keyup="myKeyup($event)">
                            <option  ng-selected="order.payType == null || order.payType == 'BANK_TRANSFER'" value="BANK_TRANSFER">银行汇款</option>
                            <option value="ALIPAY">支付宝</option>
                            <option value="POST_CARD">刷卡</option>
                            <option value="WECHAT_PAY">微信支付</option>
                            <option value="ICBC">工行</option>
                            <option value="ABC">农行</option>
                            <option value="CCBC">建行</option>
                            <option value="CASH">现金支付</option>
                        </select>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <button class="btn btn-sm" type="button" ng-click="backPage()">返回</button>
                    <button type="submit" class="btn btn-sm btn-info" ng-disabled="orderRecord.submitting || orderRecord.amount == null || orderRecord.amount < 0 || orderRecord.payDate == null || orderRecord.payDate == ''" ng-class="{ 'active' : orderRecord.submitting}">
                        <span class="text">保存</span>
                        <span class="text-active"><i class="fa fa-spin fa-spinner hide show inline"></i>保存中...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div ng-include="'/back/tpl/confirm.html'"></div>
</script>