<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">广告管理</h1>
</div>
<div class="wrapper-md" ng-controller="MFAdController">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                广告列表
            </div>
            <div class="panel-body">
                <div class="row wrapper">
                    <div class="col-sm-7 m-b-xs">
                        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="add()">
                            <i class="fa fa-plus"></i>
                            创建
                        </button>
                        <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-disabled="list == null || listLoading || listLoadingData || totalItems < 1" ng-click="deleteItems()">
                            <i class="fa fa-trash-o"></i>
                            作废
                        </button>
                        <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="getList(1, true)">
                            <i class="fa fa-refresh"></i>
                            刷新
                        </button>
                    </div>
                    <form role="form" name="form" ng-submit="getList(1, false)()">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input class="input-sm form-control" ng-model="listSearch" type="text" placeholder="广告名称或广告主信息">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" ng-disabled="list == null || listLoading || listLoadingData" type="submit">搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" ng-show="list == null || listLoading">
                    <i class="fa fa-spin fa-spinner hide show inline"></i>加载中... 
                </div>
                <div class="text-center" ng-show="list != null && !listLoading && !listLoadingData && totalItems < 1">
                    <alert type="warning">无数据</alert>
                </div>
                <table class="table table-striped m-b-none" ng-hide="list == null || listLoading || listLoadingData || totalItems < 1">
                    <thead>
                        <tr>
                            <th style="width:3%"></th>
                            <th style="width:8%">时间</th>
                            <th style="width:10%">名称</th>
                            <th style="width:10%">金额</th>
                            <th style="width:10%">返还</th>
                            <th style="width:10%">提成</th>
                            <th style="width:10%">广告主</th>
                            <th style="width:10%">平台</th>
                            <th style="width:10%">分成人</th>
                            <th style="width:10%">付款方式</th>
                            <th style="width:10%">修改</th>
                        </tr>
                    </thead>
                    <div class="text-center" ng-show="listLoadingData">
                        <i class="fa fa-spin fa-spinner hide show inline"></i>加载中... 
                    </div>
                    <tbody ng-hide="listLoadingData">
                        <tr ng-repeat="item in list">
                            <td><label class="i-checks m-b-none"><input type="checkbox" name="userLableIds" ng-model="item.lableId"><i></i></label></td>
                            <td>{{item.payDate|date:'yyyy-MM-dd'}}</td>
                            <td><a class="text-info" href="#/app/ad/ad_info/{{item.id}}">{{item.name}}</a></td>
                            <td>{{item.amount}}</td>
                            <td>
                                {{item.userBalanceAmount}}
                            </td>
                            <td>
                                {{item.userAmount}}
                            </td>
                            <td>{{item.ownerWeChat}}</td>
                            <td>
                                <a ng-if="item.goods != null" class="text-info" href="#/app/goods/goods_info/{{item.goods.id}}">{{item.goods.name}}</a>
                            </td>
                            <td>
                                <a ng-if="item.user != null" class="text-info" href="#/app/user/user_info/{{item.user.id}}">{{item.user.name}}</a>
                            </td>
                            <td>
                                <span class="label ng-binding bg-success" title="{{item.gatewayTypeStr}}">{{item.gatewayTypeStr}}</span>
                            </td>
                            <td>
                                <a ng-if="!item.invoicing" href="#/app/make_friends/create_ad/{{item.id}}" class="text-info">修改</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer class="panel-footer" ng-hide="list == null || listLoading || totalItems < 1">
                    <div class="row">
                        <div class="text-center">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"  max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false"></pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div ng-include="'/back/tpl/confirm.html'"></div>
</script>