<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">大满贯管理</h1>
</div>
<div class="wrapper-md" ng-controller="ProductGrandSlamListController">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                产品列表
            </div>
            <div class="panel-body">
                <div class="row wrapper">
                    <div class="col-sm-7 m-b-xs">
                        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="add()">
                            <i class="fa fa-plus"></i>
                            创建
                        </button>
                        <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-disabled="list == null || listLoading || listLoadingData || totalItems < 1" ng-click="deleteItems()">
                            <i class="fa fa-trash-o"></i>
                            作废
                        </button>
                        <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="getList(1, true)">
                            <i class="fa fa-refresh"></i>
                            刷新
                        </button>
<!--                        <button class="btn m-b-xs btn-sm btn-warning btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="downLoad()">
                            <i class="fa fa-cloud-download"></i>
                            下载对账表
                        </button>
                        <button class="btn m-b-xs btn-sm btn-warning btn-addon" ng-disabled="list == null || listLoading || listLoadingData" ng-click="downLoadWage()">
                            <i class="fa fa-cloud-download"></i>
                            下载工资表
                        </button>-->
                    </div>
                    <form role="form" name="form" ng-submit="getList(1, false)()">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input class="input-sm form-control" ng-model="listSearch" type="text" placeholder="长春1">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" ng-disabled="list == null || listLoading || listLoadingData" type="submit">搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row wrapper">
                    <div class="col-md-5">
                        <label>开始日期</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="startDate" is-open="startDateOpened" datepicker-options="dateOptions">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <label>结束日期</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="endDate" is-open="endDateOpened" datepicker-options="dateOptions">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <p class="input-group">
                            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="pageChanged()">
                                <i class="fa fa-search"></i>
                                搜索
                            </button>
                        </p>
                    </div>
                </div>
                <div class="text-center" ng-show="list == null || listLoading">
                    <i class="fa fa-spin fa-spinner hide show inline"></i>加载中... 
                </div>
                <div class="text-center" ng-show="list != null && !listLoading && !listLoadingData && totalItems < 1">
                    <alert type="warning">无数据</alert>
                </div>
                <table class="table table-striped m-b-none" ng-hide="list == null || listLoading || listLoadingData || totalItems < 1">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th style="width:10%">获得时间</th>
                            <th style="width:10%">获得人</th>
                            <th style="width:5%">代理的地区</th>
                            <th style="width:5%">金额</th>
                            <th style="width:10%">备注</th>
                            <th style="width:10%">操作</th>
                        </tr>
                    </thead>
                    <div class="text-center" ng-show="listLoadingData">
                        <i class="fa fa-spin fa-spinner hide show inline"></i>加载中... 
                    </div>
                    <tbody ng-hide="listLoadingData">
                        <tr ng-repeat="item in list">
                            <td><label class="i-checks m-b-none"><input type="checkbox" name="lableIds" ng-model="item.lableId"><i></i></label></td>
                            <td>{{item.payDate| date:"yyyy-MM-dd"}}</td>
                            <td>{{item.user.name}}</td>
                            <td>{{item.goods.name}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.remark}}</td>
                            <td>
                                <a href="#/app/product/grand_slam_create_or_update/{{item.id}}" class="text-info">修改</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer class="panel-footer" ng-hide="list == null || listLoading || totalItems < 1">
                    <div class="row">
                        <div class="text-center">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"  max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false"></pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div ng-include="'/back/tpl/confirm.html'"></div>
</script>