<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">修改密码</h1>
</div>
<div class="wrapper-md" ng-controller="RepasswordController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">修改密码</div>
                <div class="panel-body">
                    <form role="form"  ng-submit="submit()">
                        <div class="form-group">
                            <label>原密码</label>
                            <input type="password" class="form-control" placeholder="请输入原密码" ng-model="oldPassword" required>
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" placeholder="请输入新密码" ng-model="newPassword" required>
                        </div>
                        <div class="form-group">
                            <label>重复密码</label>
                            <input type="password" class="form-control" placeholder="请再次输入新密码" ng-model="newRepassword" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="form.$invalid || loading" ng-class="{'active' : loading}">
                            <span class="text">保存</span>
                            <span class="text-active"><i class="fa fa-spin fa-spinner hide show inline"></i>保存中...</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>